<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Higher-Lower Movie Game</title>
</head>
<body>
    <%- include("partials/header") %>

    <h1>Welcome to Higher-Lower Movie Game!</h1>
    <p>This is the start of your final project 🎬</p>

    <a href="/game">Start Game</a>

    <form action="/reset" method="POST">
        <button type="submit">Reset History</button>
    </form>      
</body>
</html>
